@inherits LayoutComponentBase

<div class="page rps-page-stack">
    <NavMenu />

    <main class="rps-main">
        <article class="content rps-content-panel">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
